@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&family=Lato:wght@100&family=Montserrat:wght@200&display=swap');

$font: 'Kanit', sans-serif;
$weightTitle:600;
$weightParagraph: 300;

h1{ 
    margin-left: 115px;
    justify-content: flex-start;
    color: #000;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    
    margin-bottom: 50px;
    margin-top: 50px;
}

.favorites {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 20px;
    width: 300px;
    border: 1px solid #000;
    box-shadow: 7px 10px 10px #888888;
    

    .gridLayout {
        display: grid;
        grid-template-rows: auto auto;

        .row1 {
            width: 300px;
            position: relative;

            .imgProduct {
                width: auto;
                height: 200px;               
                display: flex;
                margin: 0 auto;
                margin-top: 35px;
                
            }
            
            hr {
                width: 250px;
                margin: 0 auto;
                margin-bottom: 15px;
                margin-top: 15px;
            }

            p{
             font-family: $font;
             font-weight: $weightTitle;
             color: #000;
             margin-left: 25px;
                span {
                    font-weight: $weightParagraph;
                    font-size: 13px;
                    margin-right: 25px;
                }
            }
           

            button {
                display: inline-flex;
                width: 200px;
                font-family: $font;
                font-size: 15px;
                font-weight: 300;
                border-radius: 3px;
                border: 1px solid #a70f0f;
                background-color: #a70f0f;;
                color: #fff;   
                margin-top: 10px;
                margin-left: 25px;
                cursor: pointer;
                padding: 5px;
                justify-content: space-around;
                align-items:center;
                transition: 0.3s;
            
            
         
                
             
                .icon {
                    margin-left: 8px;
                    width: 15px;
                    height: 15px;
                    margin-right: 15px;
                }
            }

            button:hover {
                background-color: #a82c2c; 
                color: #fff ;
            }

            .link {
                text-decoration: none;
            }

            
        }

        .row2{
            margin-bottom: 20px;
            margin-top: 20px;
            position: relative;
            

            button {
                background-color: #fff;
                border: none;
                padding: 0;
                margin-left: 25px;
                font-family: $font;
                font-weight: 600;
            }

            button:hover {
                cursor: pointer;
                text-decoration:underline;
            }
        }


    }
}
