@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&family=Lato:wght@100&family=Montserrat:wght@200&display=swap');

$font: 'Kanit', sans-serif;
$weightTitle:600;
$weightParagraph: 300;

.HomeAdmin {
  width: 100vw;
  height: 100vh;

  .containerButtons {
    margin-top: 5vh;
    background-color: #ffffff;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    padding: 15px;

    button {
      flex-grow: 1;
      text-align: center;
      min-height: 100px;
      flex-basis: 100px;
      font-family: $font;
      font-weight: $weightTitle;
      font-size: 20pt;
      margin-left: 20px;
      margin-right: 20px;
      border: none;
      outline: none;
      transition: all 0.3s;

      &:hover {
        background-color: #d2d2d2;
        letter-spacing: 2px;
      }
    }

    .selected {
      border: 2px solid #f8a;
    }
  }
}

.notAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: center;
  margin-top: 20%;

  h1 {
      margin: 0 auto;
  }

  button {
      width: 150px;
      border: 0;
      background-color: #fff;
      color: #000000;
      margin-top: 15px;
      font-size: 20px;
      transition: 0.4s;
  }
  button:hover { 
      text-decoration: underline;
  }
}