.cardContainer {
    height: 74%; 
    width: 90%;
    overflow: hidden;
    
    // background-color: burlywood;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    padding: 30px;
    margin: 0 auto;
    gap: 20px;
}