@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;600&display=swap');
$font: 'Kanit', sans-serif;
$weightTitle:600;
$weightParagraph: 100;

.categories {
    height: 74%; 
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 5px 700px 400px;
    padding: 30px;
    margin: 0 auto;
    gap: 30px;
    font-family: $font;
    font-weight: 600;
    h3{
        font-weight: 600;

    }
    .manContainer {
        background-image: url('../../assets/Gender/Man_1.jpeg');
        background-size: 100%;
        display: grid;
        grid-area: 2 / 3 / 3 / 4;

        .components {
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            margin-bottom: 50px;
            height: 100%;
            width: 500px;

            .textContainer {
                // background-color: rgba(255, 255, 255, 0.5);
                padding: 15px;

                h1 {
                    display: block;
                    margin: 0;
                    color: rgb(55, 55, 55);
                    text-align:right;
                    width: 100%;
                    text-decoration: underline rgb(115, 115, 115);
                    text-shadow: -2px 2px 0 rgba(255, 255, 255, 0.3);
                    font-weight: 600;
                }
            }
            
            .button {
                background-color: rgb(55, 55, 55);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                height: 50px;
                width: 150px;
                color: white;
                margin: 0 auto;
                margin-bottom: 30px;
            
            }
        }
    }
    
    .womanContainer {
        background-image: url('../../assets/Gender/Woman_2.jpg');
        // ARREGLAR
        background-size: 120%;
        display: grid;
        grid-area: 2 / 2 / 3 / 3;
        justify-content:center;

        .components {
            // background-color: antiquewhite;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content:space-between;
            margin-bottom: 50px;
            height: 100%;
            width: 500px;

            .textContainer {
                margin-top: 15px;
                margin-left: 15px;

                h1 {
                    display: block;
                    margin: 0;
                    color: rgb(55, 55, 55);
                    text-align:left;
                    width: 100%;
                    text-decoration: underline rgb(115, 115, 115);
                    text-shadow: -2px 2px 0 rgba(255, 255, 255, 0.3);
                    font-weight: 600;
                }
            }
            
            .button {
                background-color: rgb(55, 55, 55);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                height: 50px;
                width: 150px;
                color: white;
                margin: 0 auto;
                margin-bottom: 30px;
            
            }
        }
    }
    
    .kidsContainer {
        background-image: url('../../assets/Gender/Kids_1.jpg');
        // ARREGLAR
        background-size: 100%;
        display: grid;
        grid-area: 3 / 2 / 4 / 4;
        justify-content:center;

        .components {
            // background-color: antiquewhite;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content:space-between;
            margin-bottom: 50px;
            height: 100%;
            width: 500px;

            .textContainer {
                margin-top: 15px;

                h1 {
                    display: block;
                    margin: 0;
                    color: rgb(55, 55, 55);
                    text-align:center;
                    width: 100%;
                    text-decoration: underline rgb(115, 115, 115);
                    text-shadow: -2px 2px 0 rgba(255, 255, 255, 0.3);
                    font-weight: 600;
                }
            }
            
            .button {
                background-color: rgb(55, 55, 55);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                height: 50px;
                width: 150px;
                color: white;
                margin: 0 auto;
                margin-bottom: 30px;
            
            }
        }
    }
   
}

