@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;600&display=swap");
$font: "Kanit", sans-serif;
$weightTitle: 600;
$weightParagraph: 100;

.categories {
  width: 100%;
  min-height: 100vh;
  font-family: $font;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 18rem;
  height: 28rem;
  box-shadow: var(--shadow-lg);
  font-weight: 600;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;

  &:nth-child(3) {
    margin: 0;
  }

  span {
    width: 100%;
    font-size: 2rem;
    padding-right: 0.5rem;
    text-align: right;
    display: block;
  }

  a {
    background-color: var(--bg);
    color: var(--text);
    border-radius: 0.2rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }

  a:hover {
    opacity: 0.95;
  }

  a:active {
    opacity: 0.9;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
