@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;600&display=swap%27');

$font: 'Kanit', sans-serif;
$weightTitle:600;
$weightParagraph: 100;

.card {
    background-color: rgb(141, 27, 27);
    font-size: smaller;
    width: 348px;
    height: 448px;
    padding-bottom: 1px;
}

.flag {
    width: 348px;
    height: 338px;
}

.textContainer {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin: 0;
    margin-bottom: 10px;
    color: whitesmoke;
    font-family: $font;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 20px 10px;
}
