@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;600&display=swap%27');

$font: 'Kanit', sans-serif;
$weightTitle:600;
$weightParagraph: 100;

.container {
    display:inline-flex;
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 10px;
   

   p {
    font-family: $font;
    font-weight: 600;
    font-size: 14px;
   }

   .select { 
    color: #111111;
    font-size: 12px;
    font-family: $font;
    font-weight: 200;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.5s;
    width: 100px;
    height: 30px;
    }

   

   
}





