$font: 'Open Sanz Extra Bold';


.container {
    display:inline-flex;
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 10px;
   

   p {
    font-family: $font;
    font-size: 14px;
   }

   .select { 
    color: #111111;
    font-size: 12px;
    font-family: $font;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.5s;
    width: 100px;
    height: 30px;
    }

   

   
}





