@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;600&display=swap");
$font: "Kanit", sans-serif;
$weightTitle: 600;
$weightParagraph: 100;

.navbar {
  width: 100%;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (min-width: 640px) {
  .navbar {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar {
    height: 4rem;
    padding: 0;
  }

  .wrapper {
    flex-direction: row;
    align-items: center;
  }
}

// Menu

.menu {
  list-style: none;
  text-align: center;
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  background-color: transparent;
  color: var(--text);
  min-width: 8rem;
  height: 2.5rem;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.menu-item:hover {
  color: var(--text);
  box-shadow: var(--shadow-lg);
}

.menu-item:before,
.menu-item:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #000;
  transition: 400ms ease all;
}

.menu-item:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.menu-item:hover:before,
.menu-item:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

// Icons

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 1.5rem;
  margin: 0 1rem;
  cursor: pointer;
}

@media only screen and (min-width: 640px) {
  .icons {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

// SearchInput

.search-cont {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;

  form {
    border-bottom: 1px solid var(--text);
    display: block;
  }
}

.search {
  width: 16rem;
  height: 1.8rem;
  color: var(--text);
  font-weight: 100;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  padding: 0 0.3rem;
  transition: all 0.4s cubic-bezier(0, 0.795, 1, 1);
}

.search-submit {
  background-color: transparent;
  border: none;

  img {
    margin: 0;
  }
}

@media only screen and (min-width: 640px) {
  .search-cont {
    margin: 0;
    margin-right: 1rem;

    form {
      border: none;
    }
  }

  .search {
    width: 0;
    height: 0;
  }

  .search-open {
    width: 16rem;
    height: 1.8rem;
  }

  .search:focus {
    border-bottom: 1px solid var(--text);
  }
}

// Modal

.modalPop {
  font-family: $font;
  font-weight: $weightTitle;
}

.modal {
  position: absolute;
}

.close-button-cont {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  background-color: var(--bg);
  color: var(--text);
  width: 4rem;
  height: 3rem;
  box-shadow: var(--shadow-md);
  padding: 0.8rem;
  border: none;
  border-radius: 0 0.2rem 0 0;
  display: flex;
  place-content: center;
}

.close-button:hover {
  opacity: 0.9;
}

.close-button:active {
  opacity: 0.8;
}
