.pagination {
  width: fit-content;
  list-style: none;
  display: flex;
}

.button {
  background-color: var(--bg);
  color: var(--text);
  margin: 0 0.3rem;
  cursor: pointer;
  border: 1px solid var(--text);
  box-shadow: var(--shadow-md);
  font-size: 1.2rem;
  padding: 0.3rem 0.8rem;
  display: block;
}

.button:hover {
  background-color: var(--bg);
  opacity: 0.8;
}

.arrow-button {
  background-color: var(--bg);
  color: var(--text);
  margin: 0 0.3rem;
  cursor: pointer;
  border: 1px solid var(--text);
  box-shadow: var(--shadow-md);
  padding: 0 0.8rem;
  display: flex;
  place-content: center;
}

.arrow-button:hover {
  background-color: var(--bg);
  opacity: 0.8;
}

.arrow {
  width: 1.2rem;
}

@media only screen and (min-width: 1024px) {
  .button {
    font-size: 1.1rem;
    margin: 0 1rem;
  }

  .arrow-button {
    padding: 0.3rem 1.2rem;
  }

  .arrow {
    width: 1.1rem;
  }
}
