.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5%;
    padding-top: 40px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}