.footer {
  display: flex;
  justify-content: space-between;
  border-top: 0.08rem solid var(--text);
  padding: 1rem 0.5rem;
  height: 5rem;
}

.footer h5  {
  font-size: 1rem;
}

.link {
  font-size: 0.9rem;
  color: var(--text);
}

.link:hover {
  color: rgba(var(--text-rgb), 0.9);
}

.footer-icon {
  color: var(--text);
  margin-right: 0.5rem;
}

.footer-icon:hover {
  color: rgba(var(--text-rgb), 0.9);
}

.footer-icon svg {
  width: 1.5rem;
  height: 1.5rem;
}
