.bodyCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
    width: 40%;
    border: 1px solid black;
}

.containerInfo{
    display: flex;
    flex-direction: column;
}

.containerButtons{
    display: flex;
    padding: 3px;
}