* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.9rem;
}

::-webkit-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--bg);
}

::-webkit-scrollbar-track {
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border: 0.3rem solid transparent;
  background-clip: padding-box;
  border-radius: 0.5rem;
}

:root {
  --bg: rgba(0, 0, 0, 1);
  --text: rgba(255, 255, 255, 1);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  /* palette in rgb format */
  --bg-rgb: 0, 0, 0;
  --text-rgb: 255, 255, 255;
  /* breakpoints */
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;
}

/* palettes */

.primary {
  --bg: rgba(0, 0, 0, 1);
  --text: rgba(255, 255, 255, 1);
  /* palette in rgb format */
  --bg-rgb: 0, 0, 0;
  --text-rgb: 255, 255, 255;
}

.secondary {
  --bg: rgba(255, 255, 255, 1);
  --text: rgba(0, 0, 0, 1);
  /* palette in rgb format */
  --bg-rgb: 255, 255, 255;
  --text-rgb: 0, 0, 0;
}

.success {
  --bg: rgba(46, 213, 115, 1);
  --text: rgba(46, 213, 115, 1);
  --bg-rgb: 46, 213, 115;
  --text-rgb: 46, 213, 115;
}

.danger {
  --bg: rgba(234, 32, 39, 1);
  --text: rgba(234, 32, 39, 1);
}

.dark {
  --bg: rgba(47, 53, 66, 1);
  --text: rgba(241, 242, 246, 1);
}

/* transitions */

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.overflow-hidden {
  overflow: hidden;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
