.container {
  overflow-y: auto;
}

.title-cont {
  border-bottom: 0.08rem solid rgba(18, 18, 18, 0.3);
  padding-bottom: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
}

.edit-button-cont {
  display: flex;
}

.edit-button-separator {
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0.2rem;
}

.edit-button {
  cursor: pointer;
  display: block;
}

.edit-button-disabled {
  color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}

.info-wrapper {
  margin: 1.5rem 0;
}

.info {
  display: flex;
}

.info span {
  margin: 1rem 0;
  display: block;
}

.info span:first-child {
  width: 8rem;
  font-weight: 600;
  margin-right: 0.5rem;
}

/* Address */

.ship-li {
  width: 16rem;
  min-height: 8rem;
  border-left: 0.3rem solid var(--bg);
  padding: 0.8rem 3rem 0.8rem 1rem;
  box-shadow: var(--shadow-md);
  list-style: none;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ship-li span {
  display: block;
}

.address-wrapper {
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.address-buttons {
  margin-top: 0.3rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  place-content: center;
}

.address-buttons span {
  background-color: var(--bg);
  color: var(--text);
  border: none;
  padding: 0.3rem 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  box-shadow: var(--shadow-md);
  display: flex;
  place-content: center;
}

.address-buttons span svg {
  width: 1rem;
  height: 1rem;
}

@media only screen and (min-width: 1024px) {
  .ship-li {
    width: 18rem;
  }
}
