.chatbot1{

    border-radius: 5px;
        bottom: 40px;
        box-shadow: 5px 5px 13px rgb(91 81 81 / 40%);
        display: flex;
        justify-content: center;
        margin: 40px 0;
        position: fixed;
        right: 40px;
        z-index: 6;
    .show{
    border: none;
    border-radius: 25px;
    bottom: 15px;
    height: 50px;
    position: fixed;
    right: 40px;
    width: 50px;
    z-index: 6;
    cursor: pointer;
    }
};